body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.vkuiPanelHeader__separator {
  margin-top: 0;
}

#settings_resize {
  padding: var(--vkui--size_base_padding_horizontal--regular);
  display: flex;
  flex-direction: column;
  gap: var(--vkui--size_base_padding_horizontal--regular);
}

#group_schedule_resize > div {
  padding: var(--vkui--size_base_padding_horizontal--regular);
  display: flex;
  flex-direction: column;
  gap: var(--vkui--size_base_padding_horizontal--regular);
  min-height: calc(600px - var(--vkui--size_base_padding_horizontal--regular) * 2 - var(--vkui_internal--panel_header_height) - 1px);
}

#teacher_schedule_resize > div {
  padding: var(--vkui--size_base_padding_horizontal--regular);
  display: flex;
  flex-direction: column;
  gap: var(--vkui--size_base_padding_horizontal--regular);
  min-height: calc(600px - var(--vkui--size_base_padding_horizontal--regular) * 2 - var(--vkui_internal--panel_header_height) - 1px);
}

#my_schedule_resize > div {
  padding: var(--vkui--size_base_padding_horizontal--regular);
  display: flex;
  flex-direction: column;
  gap: var(--vkui--size_base_padding_horizontal--regular);
  min-height: calc(600px - var(--vkui--size_base_padding_horizontal--regular) * 2 - var(--vkui_internal--panel_header_height) - 1px);
}

#group_selector_resize {
  padding: var(--vkui--size_base_padding_horizontal--regular);
  display: flex;
  flex-direction: column;
  gap: var(--vkui--size_base_padding_horizontal--regular);
}

#information_resize {
  padding: var(--vkui--size_base_padding_horizontal--regular);
  display: flex;
  flex-direction: column;
  gap: var(--vkui--size_base_padding_horizontal--regular);
}

.selector_body {
  display: flex;
  flex-direction: column;
  gap: var(--vkui--size_base_padding_horizontal--regular);
}

#teacher_selector_resize {
  padding: var(--vkui--size_base_padding_horizontal--regular);
  display: flex;
  flex-direction: column;
  gap: var(--vkui--size_base_padding_horizontal--regular);
}

#announce_resize {
  padding: calc(var(--vkui--size_base_padding_horizontal--regular));
  display: flex;
  flex-direction: column;
  gap: calc(var(--vkui--size_base_padding_horizontal--regular));
}

.announce_pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.announce_element {
  display: flex;
  flex-direction: column;
  gap: var(--vkui--size_base_padding_horizontal--regular);

  .announce_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--vkui--size_base_padding_horizontal--regular);
  }

  .announce_date {
    color: var(--vkui--color_text_secondary);
  }

  .announce_body {
    & > *:not(:last-child) {
      margin: 0 0 var(--vkui--size_base_padding_horizontal--regular);
    }

    & > *:last-child {
      margin: 0;
    }

    a {
      color: var(--vkui--color_text_link);
    }

    table {
      display: block;
      border-collapse: collapse;
      width: 100%;
      overflow: scroll;

      th, td {
        padding: 12px 15px;
        text-align: left;
      }

      td {
        border-bottom: 1px solid var(--vkui--color_background_accent_themed_alpha);
      }

      th {
        background-color: var(--vkui--color_background_accent_themed_alpha);
        font-weight: bold;
      }
    }
  }

  .announce_button {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
}

.medcolosma-popover {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--vkui--size_base_padding_horizontal--regular);
}

.selector_buttons {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.medcolosma-button {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  flex-grow: 0;
}

.medcolosma-lessons {
  display: flex;
  flex-direction: column;
  gap: var(--vkui--size_base_padding_horizontal--regular);
  flex: 1 1 100%;

  .vkuiPlaceholder--withPadding {
    flex: 1;
  }

  .vkuiCardGrid + .vkuiCardGrid {
    margin-top: 0;
  }

  .medcolosma-lesson {
    justify-content: center;
    width: 100%;
    display: flex;
    gap: var(--vkui--size_base_padding_horizontal--regular);

    .medcolosma-lesson-time {
      flex: 0 0 55px;
      text-align: center;
    }

    .medcolosma-lesson-block {
      flex: 1 1 0;

      .medcolosma-lesson-name {
        text-overflow: ellipsis;
        font-weight: var(--vkui--font_weight_accent2);
      }

      .medcolosma-lesson-teacher, .medcolosma-lesson-group {
        padding: 6px 0 0;
        display: flex;
        gap: calc(var(--vkui--size_base_padding_horizontal--regular) / 2);
        align-items: center;
        font-size: var(--vkui--font_headline1--font_size--compact);
      }

      .medcolosma-lesson-group-room-block {
        font-size: var(--vkui--font_headline1--font_size--compact);
        display: flex;
        gap: calc(var(--vkui--size_base_padding_horizontal--regular) / 2);
        align-items: center;
      }
    }
  }
}

.vkuiPopoutRoot__popout {
  z-index: calc(var(--vkui--z_index_popout) + 1);
}

.medcolosma-drawer {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  width: 70vw;
  max-width: 300px;
  min-height: min-content;
  background-color: var(--vkui--color_background_content);

  .medcolosma-drawer-header-block {
    background: #19274B;
    padding: var(--vkui--size_base_padding_horizontal--regular);
    padding-top: calc(var(--vkui--size_base_padding_horizontal--regular) + env(safe-area-inset-top));
    display: flex;
    flex-direction: column;
    gap: var(--vkui--size_base_padding_horizontal--regular);

    & > div:first-child {
      width: min-content;
      margin: 0 auto;
    }

    .medcolosma-drawer-header {
      color: white;
      text-align: center;
    }
  }

  .medcolosma-drawer-buttons {
    flex: 1;
    background-color: var(--vkui--color_background_content);
    padding: 0 calc(var(--vkui--size_base_padding_horizontal--regular) / 2);

    .medcolosma-drawer-buttons-block {
      margin: calc(var(--vkui--size_base_padding_horizontal--regular) / 2) 0;

      .medcolosma-drawer-header {
        text-align: center;
        padding: calc(var(--vkui--size_base_padding_horizontal--regular) / 2);
      }
    }
  }
}

.medcolosma-footer {
  height: var(--vkui_internal--panel_header_height) !important;
  min-height: var(--vkui_internal--panel_header_height) !important;
  max-height: var(--vkui_internal--panel_header_height) !important;
  color: var(--vkui--color_text_secondary);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
}

.vkui--disable-overscroll-behavior {
  overscroll-behavior-y: auto !important;
}